<section class="module-tournament-detail">
	<h2></h2>
	<p><strong></strong></p>
	<p></p>
	<h2>Tournament Summary</h2>
	<table class="table-vertical">
		<tbody><tr>
			<th>Overall Position</th>
			<td></td>
			</tr>
			<tr>
			<th>Overall to Par</th>
			<td></td>
			</tr>
			<tr>
			<th>Starting Hole</th>
			<td></td>
			</tr>
			<tr>
			<th>Current Round</th>
			<td></td>
			</tr>
			<tr>
			<th>Current Round to Par</th>
			<td></td>
			</tr>
			<tr>
			<th>Current Round Thru</th>
			<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table-horizontal">
		<tbody>
			<tr>
				<th>Overall Position</th>
				<th>Overall to Par</th>
				<th>Starting Hole</th>
				<th>Current Round</th>
				<th>Current Round to Par</th>
				<th>Current Round Thru</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<h2 class="left"></h2>
	<div id="round-selector" class="right">
		<span id="label">Round</span>
		<ul class="right">
			<li>1</li>|
			<li>2</li>|
			<li>3</li>|
			<li>4</li>
		</ul>
	</div>
	<table class="table-fixie">
		<tbody>
			<tr>
			<th>Hole</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>OUT</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
			<th>13</th>
			<th>14</th>
			<th>15</th>
			<th>16</th>
			<th>17</th>
			<th>18</th>
			<th>In</th>
			<th>Total</th>
			</tr>
			<tr>
			<td>Par</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			<tr>
			<td>Round 3</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			<tr>
			<td>Status</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>&mdash;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>&mdash;</td>
			<td></td>
			</tr>
		</tbody>
	</table>
	<!--<p>Legend</p>
	<ul class="legend">
	<li class="score-double-eagle">Double-Eagle</dt>
	<li class="score-eagle">Eagle</dt>
	<li class="score-birdie">Birdie</dt>
	<li class="score-par">Par</dt>
	<li class="score-bogey">Bogey</dt>
	<li class="score-double-bogey">Double-Bogey</dt>
	<li class="score-3plus-bogey">3+ Bogey</dt>
	</ul>-->
</section>